<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
		<div th:replace="~{fragment :: meta}"></div>
             
		<div th:replace="~{fragment :: styles}"></div>
        
        <title>民宿一覧</title>       
    </head>
    <body>
        <div class="samuraitravel-wrapper">
            <!-- ヘッダー -->
			<div th:replace="~{fragment :: header}"></div>
            <main>
                <div class="container pt-4 pb-5 samuraitravel-container">
                    <div class="row justify-content-center">
                        <div class="col-xxl-9 col-xl-10 col-lg-11">
                            
                            <h1 class="mb-4 text-center">民宿一覧</h1>   
                            
                            <!-- 登録ボタン -->
                            <div class="d-flex justify-content-between align-items-end flex-wrap">
								<form method="get" th:action="@{/admin/houses}" class="md-3">
									<div class="input-group">
										<input type="text" class="form-control" name="keyword" th:value="${keyword}" placeholder="民宿名">
										<button type="submit" class="btn text-white shadow-sm samuraitravel-btn">検索</button>
									</div>
								</form>                                
                                <a href="#" class="btn text-white shadow-sm mb-3 samuraitravel-btn">登録</a>
                            </div>                                                          
                            
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">民宿名</th>
                                        <th scope="col">郵便番号</th>
                                        <th scope="col">住所</th>
                                        <th scope="col">電話番号</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>   
                                <tbody>                                                     
                                    <tr th:each="house : ${housePage}">
                                        <td th:text="${house.getId()}"></td>
                                        <td th:text="${house.getName()}"></td>
                                        <td th:text="${house.getPostalCode()}"></td>
                                        <td th:text="${house.getAddress()}"></td>
                                        <td th:text="${house.getPhoneNumber()}"></td>
                                        <td><a th:href="@{/admin/houses/__${house.getId()}__}">詳細</a></td>                                                                                
                                    </tr>                                      
                                </tbody>
                            </table>
                            
							<!-- ページネーション -->
							<div th:if="${housePage.getTotalPages() > 1}" class="d-flex justify-content-center">
								<nav aria-label="民宿一覧ページ">
									<ul class="pagination">
										<li class="page-item">
											<span th:if="${housePage.isFirst()}" class="page-link disabled">前</span>
											<a th:unless="${housePage.isFirst()}" th:href="@{/admin/houses(page = ${housePage.getNumber() -1}, keyword = ${keyword})}" class="page-link samuraitravel-page-link">前</a>
										</li>
										<li th:each="i : ${#numbers.sequence(0, housePage.getTotalPages() -1)}" class="page-item">
											<span th:if="${i == housePage.getNumber()}" class="page-link active samuraitravel-active" th:text="${i + 1}"></span>
											<a th:unless="${i == housePage.getNumber()}" th:href="@{/admin/houses(page = ${i}, keyword = ${keyword})}" class="page-link samuraitravel-page-link" th:text="${i + 1}"></a>
										</li>
										<li class="page-item">                        
                                         <span th:if="${housePage.isLast()}" class="page-link disabled">次</span>
                                         <a th:unless="${housePage.isLast()}" th:href="@{/admin/houses(page = ${housePage.getNumber() + 1}, keyword = ${keyword})}" class="page-link samuraitravel-page-link">次</a>
                                     	</li>
									</ul>
								</nav>	
							</div>
                        </div>
                    </div>
                </div>              
            </main>
            
            <!-- フッター -->
    		<div th:replace="~{fragment :: footer}"></div>
        </div>    
        
        <!-- Bootstrap -->
		<div th:replace="~{fragment :: scripts}"></div>       
    </body>
</html>
